@font-face {
  font-family: 'poppins';
  src: url('poppins/poppins-medium-webfont.woff2') format('woff2'),
       url('poppins/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}