@font-face {
  font-family: 'poppins';
  src: url('poppins/poppins-medium-webfont.woff2') format('woff2'),
       url('poppins/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset And Normalize Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button {
  text-transform: none;
  appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Reset And Normalize End */

:root {
  --primary-color: #111111;
  --secondary-color: #f0f0f0;
  --tertiary-color: #e01010;
  --para-size: 0.8rem;
  --label-text-size: 1rem;
}

body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--primary-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Element Styles Start */

form {
  background-color: var(--secondary-color);
  width: 75%;
  height: 80%;
  border-radius: 15px;
  position: relative;
  overflow: visible;

  display: flex;
  align-items: center;
}

form::after, 
form::before {
  content: "";
  border-radius: 15px;
  position: absolute;
  inset: -5px;
  background: conic-gradient(from var(--angle), var(--tertiary-color), 
  var(--primary-color), var(--tertiary-color), var(--primary-color), 
  var(--tertiary-color));
  z-index: -1;
}

form::before {
  z-index: -2;
  filter: blur(20px);
  opacity: 0.7;
}

form:hover::after {
  animation: glowing-border 3.5s linear infinite;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes glowing-border {
  from {
    --angle: 0deg;
  } to {
    --angle: 360deg;
  }
}

form:hover::before {
  animation: blur-effect 3.5s linear infinite, glowing-border 3.5s linear infinite;
}

@keyframes blur-effect {
  from {
    filter: blur(20px);
  } to {
    filter: blur(19px);
  }
}

/* Form Element Styles End */

*::selection {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.left-container {
  width: 38%;
  height: 100%;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.left-container p {
  letter-spacing: 1px;
  line-height: 1.5;
}

.right-container {
  width: 59%;
  height: 88%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-container h1 {
  text-align: center;
  position: relative;
}

.right-container h1::before,
.right-container h1::after {
  content: "Elevate Your Status";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: all 500ms ease-in-out;
}

.right-container h1:hover::before {
  top: -15px;
}

.right-container h1:hover::after {
  top: 15px;
}

.inputs-container {
  width: 100%;
  margin-top: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}

.input-left,
.input-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.input-left input,
.input-right input {
  width: clamp(170px, 15vw + 0.65rem, 250px);
  height: 40px;
  padding: 10px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
}

.input-left input:focus,
.input-right input:focus {
  box-shadow: 4px 4px 0 var(--tertiary-color), 4px 4px 10px var(--tertiary-color);
  outline: none;
  transition: box-shadow 300ms ease-in-out;
}

.input-left div:first-of-type,
.input-right div:first-of-type {
  position: relative;
}

.input-left div:last-of-type,
.input-right div:last-of-type {
  position: relative;
}

.input-left label,
.input-right label {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: var(--primary-color);
  transition: 500ms;
}

.input-left input:focus ~ label,
.input-left input:not(:placeholder-shown) ~ label,
.input-right input:focus ~ label,
.input-right input:valid ~ label {
  top: -12px;
  color: var(--secondary-color);
}

.input-left input::placeholder {
  color: var(--secondary-color);
}

.input-left input[type="email"]:invalid:not(:placeholder-shown) ~ label {
  color: var(--tertiary-color);
}

.right-container div:last-of-type {
  display: flex;
  justify-content: center;
}

button[type="submit"] {
  width: 200px;
  height: 50px;
  font-size: 1.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  margin-top: 2.5rem;
  position: relative;
}

button[type="submit"]::after {
  content: "";
  width: 0;
  height: 100%;
  background-color: var(--tertiary-color);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px var(--tertiary-color);
  z-index: -1;
}

button[type="submit"]:hover {
  z-index: 0;
  color: #f0f0f0;
}

button[type="submit"]:hover::after {
  width: 100%;
  transition: width 200ms ease-in-out;
}